body {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

header {
  background: linear-gradient(to bottom, #5f4687 0%,#6e5397 100%);
  color: white;
}

header, footer {
  flex: 0 0 100%;
}

header > * {
  padding: 10px;
  margin: 10px;
}

header h1 {
  font-size: 3em;
}

h1, h2, h3, h4 {
  font-weight: bold;
}

.content {
  display: flex;
  flex: 1 0 auto;
  flex-flow: column nowrap;
}

#contacts {
  display: flex;
  flex: 1;
  flex-flow: column wrap;
  order: 2;
  padding: 20px;
}

aside {
  flex: 0 0 12em;
  min-width: 250px;
  margin: 20px;
  order 1;
  padding-top: 30px;
}

/* individual contacts */
article {
  flex: 1;
  margin: 10px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

article > * {
  margin: 8px;
  text-align: left;
}


article h2 {
  margin-left: 0;
  font-size: 1.5em;
}

footer {
  height: 80px;
  padding-top: 10px;
  border-top: 1px solid #bbb;
}

form {
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  order: 2;
  height: 0;
  padding: 20px;
}

@media (min-width: 800px) {
  body {
    flex-flow: column nowrap;
  }

  .content {
    flex-flow: row nowrap;
  }

  #contacts {
    flex-flow: row nowrap;
    align-items: center;
  }

  aside {
    order: -1;
  }

  form {
    display: flex;
    flex: 1;
    flex-flow: row nowrap;
    order: 2;
    height: 0;
  }
}
