body {
  min-height: 100vh;
  text-align: center;
  font-family: -apple-system, 'Helvetica Neue', 'Roboto', sans-serif;
}

/* header styles  */
header {
  background: linear-gradient(to bottom, #5f4687 0%,#6e5397 100%);
}

header, footer {
  flex: 0 0 100%;
}

header > * {
  padding: 10px;
  margin: 10px;
}

header h1 {
  font-size: 3em;
}

h1, h2, h3, h4 {
  font-weight: bold;
}

/*  primary container */
.content {
  flex: 1 0 auto;
}

/*  flex containers */
body, .content,
#contacts, form,
.slide-container,
.inline-group,
.tags ul,
aside#filter {
  display: flex;
}

.no-contacts {
  display: inline-flex;
  align-self: flex-start;
  align-items: center;
  margin: 10px;
  line-height: 1.5em;
}

.no-contacts > * {
  margin: 10px;
}
.no-contacts p:empty {
  flex:0;
}

/*  flex columns */
body,
aside#filter,
.content {
  flex-flow: column nowrap;
}

#contacts,
form {
  flex: 1;
  flex-flow: column wrap;
  align-content: flex-start;
  overflow: hidden;
  transition: flex .3s ease-out;
}

form.collapsed,
#contacts.collapsed {
  flex: 0;
  padding: 0;
  margin: 0;
}

/*  used to make form/contact transition look better */
.order-last {
  order: 2;
}

#filter,
.slide-container {
  padding: 20px;
}

/* flex rows */
.slide-container {
  flex: 1 1 100%;
  flex-flow: row nowrap;
}

.tags ul {
  flex-flow: row wrap;
}

.tags li {
  flex: 0 0 auto;
  font-size: 12px;
}

/* form specific styles  */

form legend {
  font-size: 2em;
  margin: 10px;
  padding: 10px;
  border-bottom: 1px solid #cecece;
}

input, select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.inline-group {
  justify-content: center;
  align-items: center;
}

.inline-group label {
  flex: 1;
  text-align: right;
}

.inline-group select,
.inline-group input {
  flex: 2 1;
  font-size: 1em;
}

.inline-group select {
  height: 40px;
}

.inline-group > * {
  margin: 8px;
}

/* button styles  */
form > .button,
a.button {
  flex: 0 0 auto;
}

.button {
  margin: 8px;
  background: white;
  color: #604788;
}

/* text color */
header,
.button:hover,
.button.selected {
  color: white;
}

.button:hover,
.button.selected {
  background: #604788;
}

a,
input,
select,
aside#filter {
  border-radius: 8px;
}

input,
input.button,
select, a {
  border: 1px solid #604788;
}

/* paragraph text-size */
p,
input, .button,
input[type=search] {
  font-size: 1.2em;
}

input, .button,
input[type=search] {
  display: inline-block;
  padding: 10px;
}

a {
  text-decoration: none;
}

aside#filter {
  flex: 0 0 auto;
  align-self: center;
  order: -1;
  margin: 20px;
  width: 80%;
}

aside#filter {
  background: #F5F5F5;
}



/* individual contacts */
article {
  flex: 0 content;
  align-self: baseline;
  margin: 10px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

article > * {
  margin: 8px;
  text-align: left;
}

article h2 {
  margin-left: 0;
  font-size: 1.5em;
}

#editForm {
  display: block;
  margin-left: -8px;
}

/* footer  */
footer {
  height: 80px;
  padding-top: 10px;
  border-top: 1px solid #bbb;
}

@media (min-width: 600px) {
  #contacts {
    flex-flow: row wrap;
  }


}

@media (min-width: 800px) {
  .content {
    flex-flow: row nowrap;
  }

  #contacts,
  aside#filter {
    align-self: flex-start;
  }

  #filter {
    max-width: 340px;
  }

  .slide-container {
    flex-flow: column nowrap;
  }
}
